<section class="nothome about">
    <h1>What is this about?</h1>
    <h3>This is a personal training tool for me, both as walker, web programmer and on my own photographic journey</h3>
    <h2>Goals of this site</h2>
    <p>My goals with this site are pretty straightforward:</p>
    <ul>
        <li class="simple">• first and foremost, practice coding, let it be php, mysql, javascript, angularjs — or jquery</li>
        <li class="simple">• so not only the front, but also the back</li>
        <li class="simple">• learn angularjs by the way — and the angular way</li>
        <li class="simple">• show pictures of paris in an unexpected way</li>
        <li class="simple">• show an unacademic form of art, which is not a modern parietal art at all</li>
        <li class="simple">• show hidden beauty of the world, things you passed in front of and never took a look</li>
        <li class="simple">• write anything stupid or brilliant coming to my mind when looking at images</li>
        <li class="simple">• meet various and different people</li>
        <li class="simple">• change the world. Graffiti and graffiti people can change the world, and save people; it has already been done many times in the past; it can help people understand suffering. As Gandhi said, it's our suffering that will make them understand thier injustice. People writing their names because it's all they have or because they want to read it everywhere, or because they can't exist, or because they want to be part of something bigger than themselves, or because they want to be rich and famous and cannot afford to be on TV. Next step could be jail or terrorism or madness or simple life or nothing.</li>
    </ul>
    <p></p><p></p><p></p>
    <p>This site started in 1998, and moved to current url in 2003.</p>
    <h2>Links</h2>
    <p>You can view the <a href="//onthewall.free.fr/index2.html">1998-2002 version</a> 
        <br/>or the <a href="//onthewall.free.fr/index_fr.html">2003-2009 version</a> 
        <br/>or the <a href="//onthewall.free.fr/index2012.php">2010-2013 one</a> (so beautifully designed by Guillaume Franco)<br/>or even <a href="http://onthewall.free.fr/search.php?amp;searchinput=paris">this search</a>.</p>
    <h2>Responsabilities</h2>
    <p>It's useless to send me insulting emails or threatening me because your wall has been vandalized. I am not the author of these tags or graffitis. And you probably should be thinking about all the gold you are missing before removing it by reading <a href="http://www.nytimes.com/2013/08/14/arts/design/another-banksy-mural-to-go-from-wall-to-auction.html?_r=0">these</a> <a href="http://www.mirror.co.uk/news/uk-news/slave-labour-stolen-banksy-wall-1726293">stories</a>. What is coming next after more tagging is pieces of your wall getting stolen and sold for more money you could win in a year. So be ready for this.</p>
    <p>The only question I can hear is: "isn't your website an incitement for more vandalism?" Do I have a responsability in this? Is this website and taking pictures of the world an answer for more violence, aggressivity and ugliness? or more beauty, more intelligent people, more tolerance? Why do we build walls?</p>
</section>