<section class="nothome">
    <h1>What is this about?</h1>
    <h3>This is a personal training tool for me, learning angularjs, after so many years of flash and so little of jquery</h3>
    <hr/>
    <p>My goals with this site are:</p>
    <ul>
        <li class="simple">• first and foremost, practice coding, let it be php, mysql, javascript, angularjs — or jquery</li>
        <li class="simple">• so not only the front, but also the back</li>
        <li class="simple">• learn ng by the way and the angular way</li>
        <li class="simple">• show pictures of paris in an unexpected way</li>
        <li class="simple">• help you too to learn by sharing the things I learned on a blog, not a 365 project, because they are days I can't work</li>
    </ul>
    <p>I hope this could be as useful for you as it is for me.</p>
</section>