<section class="nothome">
    <div class="mapContainer">
    
        <map zoom="12" center="[48.8566140, 2.3522219]" style="display:block; width: 100%; height: 500px;" pan-control="false" zoom-control='true' zoom-control-options='{style:"small",position:"top_right"}' street-view-control="false"></map>

        <!-- zoom-control="true" zoom-control-options='{style:"small",position:"bottom_left"}' map-type-control="true" map-type-control-options='{position:"top_right", style:"dropdown_menu", mapTypeIds:["HYBRID","ROADMAP","SATELLITE","TERRAIN"]}' overview-map-control="true" overview-map-control-options='{opened:true}' pan-control="true" pan-control-options='{position:"left_center"}' rotate-control="true" rotate-control-options='{position:"right_center"}' street-view-control="true" street-view-control-options='{position:"right_center"}' -->
        
        <p>Graffiti is universal language. The maps positions could be wrong or inaccurate and availability/safety is not guaranteed. This is a volatile world by nature. But this is often a nice walk in a foreign world, and the occasion of discovering a city differently.</p>
        <p>Qui n'aimerait pas voir son nom écrit, ses empreintes de mains ou de pieds sur la route de la gloire ou la carte aux étoiles du firmament ?</p>

    </div>
</section>